.footer-button-float {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}
/*fix footer position . watch git*/
#poetry-portal-footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
}
